
body {
    background-color: #1a1a2e;
    color: #e1e1e1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


.card {
    border-radius: 15px;
    background: #212d45;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}


h3, h4, h5 {
    color: #e0e0e0;
    font-weight: bold;
}


.btn-primary {
    background-color: #00c6ff;
    border-color: #00c6ff;
}

.btn-primary:hover {
    background-color: #00b0e1;
    border-color: #00b0e1;
}

.form-control {
    background-color: #333;
    border-color: #444;
    color: #fff;
    transition: all 0.3s ease;
}

.form-control:focus {
    background-color: #444;
    border-color: #00c6ff;
}

.list-group-item {
    background-color: #242d3f;
    border: none;
    color: #fff;
    transition: all 0.3s ease;
}

.list-group-item:hover {
    background-color: #314161;
    transform: translateX(5px);
}


#currentRateValue, #brasiliaTime, #us30y, #us20y, #us10y, #us02y {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

#currentRateValue {
    animation-delay: 0.5s;
}

#brasiliaTime {
    animation-delay: 1s;
}

#us30y {
    animation-delay: 1.5s;
}

#us20y {
    animation-delay: 2s;
}

#us10y {
    animation-delay: 2.5s;
}

#us02y {
    animation-delay: 3s;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


#currencySelect {
    transition: all 0.3s ease-in-out;
}

#currencySelect.open {
    transform: scale(1.1);
    border-color: #007bff; 
}

#historyList .list-group-item {
    transition: background-color 0.3s ease;
}

#historyList .list-group-item:hover {
    opacity: 0.8; /* Efeito de hover */
}


#currentRateValue.up {
    color: green; 
}

#currentRateValue.down {
    color: red; 
}


#us30y, #us20y, #us10y, #us02y {
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: bold;
}

#us30y, #us20y, #us10y, #us02y h4 {
    margin: 10px 0;
}

#us30y span, #us20y span, #us10y span, #us02y span {
    color: #f39c12; 
}

#us30y h4, #us20y h4, #us10y h4, #us02y h4 {
    font-size: 1.4rem;
    color: #f1c40f; 
}


#us30y h4.empty, #us20y h4.empty, #us10y h4.empty, #us02y h4.empty {
    color: #95a5a6; 
}
